:root {
	--title-color: #273b49;
	--description-color: #687782;
	--primary-color: #1292ee;
	--section-color: #fbfdfe;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	font-family: Manrope, sans-serif;
	line-height: 1.6;
	background: var(--section-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Inter', sans-serif;
	line-height: 1.2;
	margin: 0;
}

p {
	margin: 0;
}

button,
a {
	font-family: Manrope, sans-serif;
	text-decoration: none;
}

.content-center {
	text-align: center;
}

.banner-grid {
	display: flex;
	flex-direction: column-reverse;
	grid-gap: 2rem;
	align-items: center;
	justify-content: center;
	margin: 0 1rem;
	height: 100vh;
}

.graphic-people {
	width: 100%;
}

.title {
	color: var(--title-color);
	margin-bottom: 0.5rem;
}

.description {
	font-size: 0.8rem;
	color: var(--description-color);
	margin-bottom: 2rem;
}

.button {
	font-size: 0.8rem;
	padding: 0.8rem 1rem;
	border-radius: 0.25rem;
	border: none;
	color: white;
	background: var(--primary-color);
	cursor: pointer;
	font-weight: 500;
}

@media screen and (min-width: 1024px) {
	.title {
		font-size: 2.5rem;
	}

	.description {
		font-size: 1rem;
	}

	.button {
		font-size: 1rem;
	}

	.banner-grid {
		display: grid;
		grid-template-columns: 1fr 50%;
		grid-gap: 2rem;
		align-items: center;
		padding: 3rem 0;
		height: auto;
	}

	.max-width {
		width: 1200px;
		margin: auto;
	}

	.content-center {
		text-align: left;
	}
}
